# Strong-name key
plugin/CijCaptcha.snk

# Build outputs
plugin/bin/
plugin/obj/

# OS
.DS_Store
Thumbs.db
.vs
.cursor
.github

__azurite_db_blob__.json
__azurite_db_blob_extent__.json
code-app/node_modules
code-app/dist
code-app/.power
code-app/power.config.json
artifacts
test.html
verify-api/node_modules
verify-api/.env
.vscode
